name: esg
channels:
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud//pytorch/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/free/
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/pytorch/
  - defaults
dependencies:
  - ca-certificates=2022.9.14=h5b45459_0
  - libsqlite=3.39.3=hcfcfb64_0
  - openssl=3.0.5=hcfcfb64_2
  - pip=22.2.2=pyhd8ed1ab_0
  - python=3.7.12=h900ac77_100_cpython
  - python_abi=3.7=2_cp37m
  - setuptools=65.3.0=py37h03978a9_0
  - sqlite=3.39.3=hcfcfb64_0
  - ucrt=10.0.20348.0=h57928b3_0
  - vc=14.2=hb210afc_7
  - vs2015_runtime=14.29.30139=h890b9b1_7
  - wheel=0.37.1=pyhd8ed1ab_0
  - pip:
    - certifi==2022.9.14
    - charset-normalizer==2.1.1
    - colorama==0.4.5
    - filelock==3.8.0
    - huggingface-hub==0.9.1
    - idna==3.4
    - importlib-metadata==4.12.0
    - numpy==1.21.6
    - opencv-python==4.6.0.66
    - packaging==21.3
    - pillow==9.2.0
    - pyltp==0.4.0
    - pyparsing==3.0.9
    - pytorch-crf==0.7.2
    - pyyaml==6.0
    - regex==2022.9.13
    - requests==2.28.1
    - some-package==0.1
    - tokenizers==0.12.1
    - torch==1.12.0+cu116
    - torchaudio==0.12.0+cu116
    - torchvision==0.13.0+cu116
    - tqdm==4.64.1
    - transformers==4.22.1
    - typing-extensions==4.3.0
    - urllib3==1.26.12
    - zipp==3.8.1
